@charset "utf-8";

/*skip_navigation*/
#skip{ position: relative;}
#skip a{ position: absolute ; left: 0px; top: -35px; border: solid 1px; color: white; line-height: 30px; width: 140px; text-align: center;}
#skip a:active, #skip a:focus{ top: 0; }



/*layout*/

#wrap{}
#header{  height: 325px; background: #111; background: url(../img/header_bg.jpg) center top repeat-x}
#contents{ }
#footer{  border-top: 1px solid #eee; }

/*container*/


.container{ width: 990px; margin: 0 auto; height: inherit; /*background: rgba(255,255,255,0.3)*/}


/*contants*/

#cont_nav{background-color:#f6fdff; display: none;}

#cont_title{ background-color: #EAF7FD;}

#cont_ban{background-color: #dceff7;}

#cont_cont{background-color:#f6fdff;}

/*header*/

.header .header_menu{text-align: right;}
.header .header_menu a{ color: white; padding:5px 10px 10px 13px; display: inline-block;}
.header .header_menu a:hover{ color: silver;}
.header .header_title{text-align: center;}
.header .header_title h1{ background-color: #4aa8d4; font-size: 28px; padding: 2px 20px 6px 20px; display: inline-block; color: white; margin-top: 40px; font-weight: normal; text-transform: uppercase;}
.header .header_title a{ display: inline-block; background-color: #2698cb; font-size: 18px; color: white; padding: 2px 20px 6px 20px;}
.header .header_icon{ text-align: center; margin-top: 30px;}
.header .header_icon a{width: 60px; height: 60px; background: url(../img/icon.png); display: inline-block; margin: 0 3px;}
.header .header_icon a.icon1{background-position: 0 0;}
.header .header_icon a.icon2{background-position: 0 -60px;}
.header .header_icon a.icon3{background-position: 0 -120px;}
.header .header_icon a.icon4{background-position: 0 -180px;}
.header .header_icon a.icon1:hover{background-position: -60px 0;}
.header .header_icon a.icon2:hover{background-position: -60px -60px;}
.header .header_icon a.icon3:hover{background-position: -60px -120px;}
.header .header_icon a.icon4:hover{background-position: -60px -180px;}


/*whole menu*/

/*layout shaked by float height:0*/
/*1. 깨지는 영역에 모두 float을 쓴다 EX) 모든 영역에 float:left(비효율적)불호*/
/*2. float의 성질을 차단하는 clear:both 를 사용한다. (어떤 영역이 깨졌는지 찾기 어려움)불호*/
/*3.float을 사용한 상위 박스한테 overflow:hidden 을 사용한다.(가장 많이 사용한다)호*/
/*4.clearfix를 사용한다. (가니어에서 배운다)호*/

.nav{ overflow: hidden; padding: 30px 0;}
.nav>div{ float: left; width: 40%;}
.nav>div:last-child{width: 20%; } /* ie9 부터 사용가능 */
.nav>div.last{width: 20%;}
.nav>div h3{ font-size: 18px; color: #25a2d0; margin-top: 4px;}
.nav>div ul{ overflow: hidden;}
.nav>div ul li{ float: left; width: 50%;}
.nav>div.last ul li{ width: 100%;}
.nav>div ul li a:hover{text-decoration: underline;}


/*content_title*/

.title{ position: relative;}
.title h2{ font-size:40px; text-align: center; padding: 5px 0; letter-spacing: 2px; color: #2c94c4; font-family: 'Nanum Brush Script', cursive;}
.title .btn{position: absolute; right: 0; top: 5px; width: 60px; height: 60px; background: url(../img/icon.png) no-repeat 0 -600px; }
.title .btn:hover{background: url(../img/icon.png) no-repeat -60px -600px;}
.title .btn.on{background-position: 0 -660px;}

/*content_ban*/
/* .banner{position: relative; padding: 24px 0 20px;}
.banner a.prev{position: absolute; left: -60px; top: 0; width: 43px; height: 43px; background:url(../img/icon.png) no-repeat -150px 0; top: 60px; }
.banner a.next{position: absolute; right: -60px; top: 0; width: 43px; height: 43px;  background:url(../img/icon.png) no-repeat -150px -43px; top: 60px; }
.banner a.prev:hover{background-position: -193px 0;}
.banner a.next:hover{background-position: -193px -43px;}

.banner ul { overflow: hidden;}
.banner ul li{ float: left; width: 330px;}
.banner ul li:last-child{text-align: right;}
.banner ul li:last-child(2){text-align: center;}
.banner ul li.ban_img1{text-align: left;}
.banner ul li.ban_img2{text-align: center;}
.banner ul li.ban_img3{text-align: right;}
.banner ul li img{ border: 4px solid #dcdcdc;}
.banner ul li img:hover{border-color: #98dcdc;} */

/*slick banner*/
.banner{position: relative; padding: 24px 0 40px;}
.banner .slick-prev{position: absolute; left: -60px; top: 0; width: 43px; height: 43px; background:url(../img/icon.png) no-repeat -150px 0; top: 60px; text-indent: -9999px;}
.banner .slick-next{position: absolute; right: -60px; top: 0; width: 43px; height: 43px;  background:url(../img/icon.png) no-repeat -150px -43px; top: 60px; text-indent: -9999px;}
.banner .slick-prev:hover{background-position: -193px 0;}
.banner .slick-next:hover{background-position: -193px -43px;}
.banner img{border: 4px solid #dcdcdc;}
.banner img:hover{border-color: #98dcdc;}

.banner .slick-slide{ margin: 10px;}
.banner .slick-dots{position: absolute; bottom: 15px; display: block; width: 100%; text-align: center;}
.banner .slick-dots li{display: inline-block; width: 15px; height: 15px; margin: 5px;}
.banner .slick-dots li button{font-size: 0; line-height: 0; display: block; width: 15px; height: 15px; cursor: pointer; background: #5dbfeb; border-radius: 50%;}
.banner .slick-dots li.slick-active button{ background: #2b91c8; }




/* contents cont */

.cont{overflow: hidden; padding-top: 30px;}
.cont .column{ position: relative; float: left;width:289px; height: 363px; margin: 0 30px 30px 0; padding-right: 30px;}
.cont .col1{border-right: 1px solid #c8c8c8;}
.cont .col2{border-right: 1px solid #c8c8c8;}
.cont .col3{margin-right: 0; padding-right: 0;}
.cont .col4{border-right: 1px solid #c8c8c8;}
.cont .col5{border-right: 1px solid #c8c8c8;}
.cont .col6{margin-right: 0; padding-right: 0;}

.cont .column .icon_img{ display: block; width: 60px; height: 60px; background: url(../img/icon.png) no-repeat; position: absolute; left: 0; top: 0;}
.cont .column .icon_title{ padding-left: 70px; font-size: 16px; color: #2c94c4;}
.cont .column .icon_desc{ padding-left: 70px; border-bottom: 1px solid #d0d0d0; margin-bottom: 15px; padding-bottom: 30px;}

.cont .col1 .icon_img { background-position: 0px -240px;}
.cont .col2 .icon_img { background-position: 0px -300px;}
.cont .col3 .icon_img { background-position: 0px -360px;}
.cont .col4 .icon_img { background-position: 0px -420px;}
.cont .col5 .icon_img { background-position: 0px -480px;}
.cont .col6 .icon_img { background-position: 0px -540px;}

.cont .col1 .icon_img:hover{ background-position: -60px -240px;}
.cont .col2 .icon_img:hover{ background-position: -60px -300px;}
.cont .col3 .icon_img:hover{ background-position: -60px -360px;}
.cont .col4 .icon_img:hover{ background-position: -60px -420px;}
.cont .col5 .icon_img:hover{ background-position: -60px -480px;}
.cont .col6 .icon_img:hover{ background-position: -60px -540px;}


/*col1*/
/*notice1*/
.notice{position: relative;}
.notice h4{ font-size: 14px; color: #0094bd; padding-bottom: 3px; font-weight:bold;}
.notice ul li{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;background: url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px;} /* one line effect */
.notice ul li a{font-size: 12px;}
.notice a.more{ position: absolute; top: 0; right: 0; display: block; background: url(../img/icon.png) -150px -90px; width: 17px;height: 17px;}
.notice a.more:hover{background: url(../img/icon.png) -167px -90px;}

/*notice2*/
.notice2{position: relative; margin-top: 10px}
.notice2 h4{font-size: 14px; color: #0094bd; padding-bottom: 3px; font-weight:bold;}
.notice2 ul li{}
.notice2 ul li a{float: left; width: 65%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 12px;background: url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px;}
.notice2 ul li span{float: right; }
.notice2 a.more{ position: absolute; top: 0; right: 0; display: block; background: url(../img/icon.png) -150px -90px; width: 17px;height: 17px;}
.notice2 a.more:hover{background: url(../img/icon.png) -167px -90px;}


/*notice3*/
.notice3{position: relative;}
.notice3 h4{font-size: 14px; color: #0094bd; padding-bottom: 3px; font-weight:bold;}
.notice3 ul li{position: relative; padding: 8px 0 14px 60px;}
.notice3 ul li a img{width: 50px; position: absolute; left: 0; right: 0; border: 1px solid #0093bd;}
.notice3 ul li a strong{display: block;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 12px;}
.notice3 ul li a span{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 12px; display: block}
.notice3 a.more{position: absolute; top: 0; right: 0; display: block; background: url(../img/icon.png) -150px -90px; width: 17px;height: 17px;}
.notice3 a.more:hover{background: url(../img/icon.png) -167px -90px;}

/*mouse hover effect*/
.notice_hover h4{font-size: 14px; color: #0094bd; padding-bottom: 3px; font-weight:bold;}
.notice_hover ul{overflow: hidden;}
.notice_hover li{float: left;width: 93px; margin-right: 5px; text-align: center;}
.notice_hover li:last-child{margin: 0;}
.notice_hover li a span{position: relative; display: block; width: 93px; height: 93px; line-height: 93px;}
.notice_hover li a span img{width: 100%; }
.notice_hover li a span em{visibility: hidden;position: absolute; left: 0; top: 0; background: rgba(0,0,0,0.7); color: #fff; width: 100%; height: 100%;}
.notice_hover li a span:hover em{visibility: visible;}
.notice_hover li a strong{padding-top: 3px; display: inline-block; font-size: 12px;}


/*mouse hover2 effect*/
.notice_hover2 ul{overflow: hidden;}
.notice_hover2 li{float: left;width: 93px; margin-right: 5px; text-align: center;}
.notice_hover2 li:last-child{margin: 0;}
.notice_hover2 li a span{position: relative; display: block; width: 93px; height: 93px;}
.notice_hover2 li a span img{width: 100%; }
.notice_hover2 li a span em{visibility: hidden;position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,0.7); color: #fff; width: 100%; height: 20%;}
.notice_hover2 li a span:hover em{visibility: visible;}
.notice_hover2 li a strong{padding-top: 3px; display: inline-block; font-size: 12px;}


/* tab menu*/
.tab_menu{ position: relative; border: 1px solid #ccc; padding: 8px; height: 105px; }
.tab_menu ul{ overflow: hidden; border-bottom: 1px solid #ccc;}
.tab_menu ul li{ float: left; border: 1px solid #ccc; margin-right: -1px; margin-bottom: -1px;}
.tab_menu ul li a{ padding:5px 10px; display: block;}
.tab_menu ul li ul{ position: absolute; left: 0; top: 48px; border: 0; width: 270px;}
.tab_menu ul li ul li{ float: none; border: 0; padding-left: 18px; background: url(../img/dot.gif) no-repeat 9px 8px;}
.tab_menu ul li ul li a{ padding: 0 0 3px 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;}
.tab_menu ul li.active{ background: #2c94c4;}
.tab_menu ul li.active ul a{ background: #fff; }
.tab_menu ul li.active ul li a{ color: #333; }

/*notice4*/
.notice4{ position: relative; border: 1px solid #ccc; margin-top: 10px;}
.notice4 h4{border-bottom: 1px solid #ccc; font-size: 14px; color: #0093bd;  padding: 8px 10px;}
.notice4 h4 em{color: red;}
.notice4 ul{padding: 10px;}
.notice4 li{overflow: hidden; background: url(../img/dot.gif) no-repeat 0px 8px;padding-bottom: 2px; padding-left: 10px;}
.notice4 li a{float: left; width: 60%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice4 li span{ float: right;; width: 30%;}
.notice4 a.more{position: absolute; top: 9px;right: 9px;}


/*gallery*/

.gallery {border: 1px solid #ccc; position: relative;}
.gallery h4{font-size: 14px; color: #0093bd; border-bottom: 1px solid #ccc; padding: 10px 0 8px 11px; font-weight: bold;}
.gallery .gallery_btn{ position: absolute; right: 5px; top: 7px;}
.gallery .gallery_btn ul{}
.gallery .gallery_btn ul li{float: left; margin: 1px 2px;}
.gallery .gallery_btn ul li a{ display: block; width: 23px; height: 23px; background: url(../img/icon.png) no-repeat;}
.gallery .gallery_btn ul li.gb_icon1 a{background-position: -150px -120px;}
.gallery .gallery_btn ul li.gb_icon2 a{background-position: -150px -143px;}
.gallery .gallery_btn ul li.gb_icon3 a{background-position: -150px -166px;}
.gallery .gallery_btn ul li.gb_icon4 a{background-position: -150px -189px;}
.gallery .gallery_btn ul li.gb_icon1 a:hover{background-position: -173px -120px;}
.gallery .gallery_btn ul li.gb_icon2 a:hover{background-position: -173px -143px;}
.gallery .gallery_btn ul li.gb_icon3 a:hover{background-position: -173px -166px;}
.gallery .gallery_btn ul li.gb_icon4 a:hover{background-position: -173px -189px;}
.gallery .gallery_img{}
.gallery .gallery_img img{width: 100%;}

/*slick gallery*/

.gallery{}
.gallery .gallery_btn button{float: left; margin: 1px 2px;display: block; width: 23px; height: 23px; background: url(../img/icon.png) no-repeat;}
.gallery .gallery_btn .gb_icon1 {background-position: -150px -120px;}
.gallery .gallery_btn .gb_icon2 {background-position: -150px -143px;}
.gallery .gallery_btn .gb_icon3 {background-position: -150px -166px;}
.gallery .gallery_btn .gb_icon4 {background-position: -150px -189px;}
.gallery .gallery_btn .gb_icon1:hover{background-position: -173px -120px;}
.gallery .gallery_btn .gb_icon2:hover{background-position: -173px -143px;}
.gallery .gallery_btn .gb_icon3:hover{background-position: -173px -166px;}
.gallery .gallery_btn .gb_icon4:hover{background-position: -173px -189px;}


/*login*/
#login_wrap{background: #f2f4f5; padding: 15px;}
.login_header{overflow: hidden; font-size: 12px; height: 30px;}
.login_header .lh_check{ float: left; padding-right: 15px;}
.login_header .lh_check .input_check{ vertical-align: -2px; }
.login_header .lh_ip{ float: left;}
.login_header .lh_ip em{ color: #0093bd; text-decoration: underline;}
.login_content{ position: relative;}
.login_content .lc_btn{position: absolute; right: 30px;top: 0;width: 62px;height: 47px;background: #fff;}
.login_content .input_text{ width: 182px; height: 16px; padding: 2px 5px; border: 1px solid #bebebe; margin-bottom: 3px;background: #fff;}
.login_footer{margin-top: 5px;}
.login_footer li{display: inline;}
.login_footer li a{font-size: 12px;}



/*popup*/
.popup h4{font-size: 14px; color: #0094bd; padding-bottom: 4px; font-weight: 700; margin-top: 10px;}
.popup ul{overflow: hidden;}
.popup li{float: left; width: 93px; margin-right: 5px;}
.popup li.last{margin-right: 0;}
.popup li img{width: 100%;}

/*footer*/

.footer{padding: 25px 0; text-align: center;}
.footer ul{margin-bottom: 10px;}
.footer li{position: relative;display: inline; padding: 0 7px 0 10px;}
.footer li:before{content: ''; width: 1px;height: 12px;background: #ccc; position: absolute; left: 0; top: 2px;}
.footer li:first-child:before{width: 0;height: 0;}


/*layer popup*/
#layer{display: none; position: fixed;left: 50px;top: 50px; width: 700px;border: 10px solid #dceff7; box-shadow: 3px 3px 10px rgba(0,0,0,0.4);}
#layer img{width: 100%; font-size: 0; display: block;}
#layer .close{position: absolute; right: 20px; top: 20px; background: #0093bd; padding: 1px 6px; color: #fff;}
#layer .close:hover{text-decoration: underline;}

